name: CI/CD to Render

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11  # match your local version

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r country-api/requirements.txt

      # Step 4: Run tests
      - name: Run Tests
        working-directory: country-api
        run: |
            pip install -r requirements.txt
            pytest tests || exit 1


      # Step 5: Trigger Render deployment
      - name: Trigger Deploy Hook
        run: |
          curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"